@import "../../index.scss";

.home {
    display: flex;   
    flex-direction: row;
}

.area__chart {
    width: 80%;
}

.area__trading__list {
    width: 20%;
    display: flex;
    flex-direction: column;

}

.area__trading__action {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.area__trading__button{
    display: block;
}